<!doctype html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebMvcTravel.Models;
@using PagedList.Mvc
@model PagedList.IPagedList<ScenicArea>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tour Packer</title>
</head>
<body class="">
    <!-- BEGIN # MODAL LOGIN -->
    <!-- END # MODAL LOGIN -->
    <!-- start Container Wrapper -->
    <div class="container-wrapper">
        <div class="clear"></div>
        <!-- start Main Wrapper -->
        <div class="main-wrapper">
            <!-- start end Page title -->
            <div class="page-title" style="background-image:url('/Content/images/hero-header/breadcrumb.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                            <h1 class="hero-title">Result list</h1>
                            <ol class="breadcrumb-list">
                                <li><a href="index.html">Homepage</a></li>
                                <li><a href="#">Desinations</a></li>
                                <li><a href="#">City</a></li>
                                <li><span>Result list</span></li>
                            </ol>

                        </div>

                    </div>

                </div>

            </div>
            <!-- end Page title -->
            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <aside class="sidebar with-filter">
                                <div class="sidebar-search-wrapper bg-light-2">
                                    <div class="sidebar-search-header">
                                        <h4>Search Again</h4>
                                    </div>
                                    <div class="sidebar-search-content">
                                        <div class="form-group">
                                        </div>
                                        <div class="form-group">
                                        </div>
                                        <div class="form-group">
                                        </div>
                                        <a href="#" class="btn btn-primary btn-block">搜索</a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div class="sorting-wrappper">
                                <div class="sorting-header">
                                    <h3 class="sorting-title uppercase"></h3>
                                </div>
                                <div class="sorting-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-8">
                                            <div class="sort-by-wrapper">
                                                <label class="sorting-label">Sort by: </label>
                                                <div class="sorting-middle-holder">
                                                    <ul class="sort-by">
                                                        <li><a href="#">价格</a></li>
                                                        <li><a href="#">地点</a></li>
                                                        <li><a href="#">用户浏览量</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <div class="sort-by-wrapper mt pull-right pull-left-sm mt-10-sm">
                                                <label class="sorting-label">View as: </label>
                                                <div class="sorting-middle-holder">
                                                    <a href="/Travel/Result_List" class="btn btn-sorting active"><i class="fa fa-th-list"></i></a>
                                                    <a href="/Travel/Result_Grid" class="btn btn-sorting"><i class="fa fa-th-large"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="package-list-item-wrapper on-page-result-page">
                                @foreach (var item in Model)
                                {
                                    <div class="package-list-item clearfix">
                                        <div class="image">
                                            <img src="@item.ScenicAreaUrl" alt="Tour Package" />
                                            <div class="absolute-in-image">
                                                <div class="duration"><span>4天3夜</span></div>
                                            </div>
                                        </div>

                                        <div class="content">
                                            <h5>Paris in Love <button class="btn"><i class="fa fa-heart-o"></i></button></h5>
                                            <div class="row gap-10">
                                                <div class="col-sm-12 col-md-9">

                                                    <p class="line18">@(item.ScenicAreaName.Length>15?item.ScenicAreaName.Substring(0,15)+"...":item.ScenicAreaName)</p>
                                                    <ul class="list-info">
                                                        <li><span class="icon"><i class="fa fa-map-marker"></i></span> <span class="font600">国家:</span> @item.CountryName</li>
                                                        <li><span class="icon"><i class="fa fa-flag"></i></span> <span class="font600">起始点:</span> Paris</li>
                                                        <li><span class="icon"><i class="fa fa-flag"></i></span> <span class="font600">结束点:</span> Paris</li>
                                                    </ul>

                                                </div>
                                                <div class="col-sm-12 col-md-3 text-right text-left-sm">

                                                    <div class="rating-wrapper">
                                                        <div class="raty-wrapper">
                                                        </div>
                                                    </div>

                                                    <div class="price">@item.Price 元起</div>

                                                    <a href="#" class="btn btn-primary btn-sm">查看详情</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                            @*分页*@
                        <div class="pager-wrappper mt-30 clearfix">
                            @Html.PagedListPager(Model, pageIndex => Url.Action("Result_List", new { pageIndex }),
                       new PagedListRenderOptions
                       {
                           LinkToFirstPageFormat = "首页",
                           LinkToNextPageFormat = "下一页",
                           LinkToPreviousPageFormat = "上一页",
                           LinkToLastPageFormat = "尾页",
                           MaximumPageNumbersToDisplay = 2,
                           DisplayItemSliceAndTotal = false
                       }
                       )
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Main Wrapper -->
    </div>  <!-- end Container Wrapper -->
    <!-- start Back To Top -->
    <div id="back-to-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</body>
</html>